<!--The content below is only a placeholder and can be replaced.-->


<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>Oceanids C2</span>
    <span style="width: 50px;"></span>
    <span>Talisker (SG123)</span>
    <mat-icon class="tb-icon">chevron_right</mat-icon>
    <span>OSNAP-8</span>
    <mat-icon class="tb-icon">chevron_right</mat-icon>
    <span>Outbound</span>
    <mat-icon class="tb-icon">chevron_right</mat-icon>
    <span>Plan V-4</span>


    <span class="tb-spacer"></span>
    <span>Logged in: user@seaglider.org</span>
    <mat-icon class="tb-icon">perm_identity</mat-icon>
  </mat-toolbar-row>

</mat-toolbar>


  <div fxLayout="row" fxLayoutAlign="space-around start"  >

    <div fxFlex="300px" class="blue">

      <mat-nav-list >
        <h3 mat-subheader>Gliders</h3>
        <mat-list-item *ngFor="let g of gliders">
          <mat-icon mat-list-icon>flight</mat-icon>
          <h4 mat-line>{{g.name}}</h4>
          <p mat-line> {{g.id}} </p>   <button mat-button-raised (click)="onSelect(g.id)" color="accent">   <mat-icon>info</mat-icon> </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>More</h3>

        <mat-list-item>
          <mat-icon mat-list-icon>folder</mat-icon>
          <h4 mat-line> Aaa</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>folder</mat-icon>
          <h4 mat-line> Bbb</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>folder</mat-icon>
          <h4 mat-line> Ccc</h4>
        </mat-list-item>


      </mat-nav-list>


    </div>

    <div fxFlex="35" fxFlex.sm="200px" >

      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutWrap="wrap" fxLayoutGap="20px">
      <mat-card class="g-card" *ngFor="let g of gliders">
        <mat-card-header>
          <mat-card-title>Information Section</mat-card-title>
        </mat-card-header>

        <mat-card-content>
	 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consequat iaculis eros ut commodo. Curabitur vitae gravida ex.

          The selected glider for today is {{selectedGlider}}
      </mat-card-content>




      </mat-card>
      </div>

    </div>

    <div fxFlex="50" class="brown"> 
	<img src="/assets/bathy1.jpg">
    </div>


  </div>



