.blue {
 background: ;
}

.pink {
  background: gainsboro;
}

.brown {
  background: aliceblue;
}
.mat-card-header {
  background: slateblue;
}

.mat-list-item:hover{
  background: slateblue;
  color: azure;
}

.mat-list-item:active {
  background: slateblue;
  color: azure;
}


.tb-icon {
  padding: 0 14px;
}

.tb-spacer {
  flex: 1 1 auto;
}

.g-card {
  width: 150px;
}
